################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseWebService/.vs/DatabaseWebService/v15/Server/sqlite3
